.App {
    font-family: 'Roboto', sans-serif;
    background-color: #1A1A1A;
    min-height: 100vh;
    color: #fff;
    padding-top: 24px;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}