.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 10px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:active,
.Button:focus,
.Button:hover:active {
    background-color: whitesmoke;
    color: black;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.BlackOutline,
.Black:hover {
    background-color: aliceblue;
    color: #242a3d;
}

.Black,
.BlackOutline:hover {
    background-color: #222;
    box-shadow: 0 0 1px 1px rgba(243, 139, 41, 50%);
    border-radius: 5px;
}

.Orange {
    background-color: #F38A29;
    color: #fff;
    box-shadow: 0 0 1px 1px #202020;
    border-radius: 5px;
}

.Orange:hover {
    background-color: #fff;
    color: #F38A29;
}