.Feed {
    width: 100%;
    padding: 0;
    margin: 0;
}

.TopBar {
    margin-bottom: 0;
    /* Ensure no extra space below the TopBar */
}

.Post {
    margin-top: 0;
    /* Ensure no extra space above the Post */
}