.SideBar {
    max-width: 265px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
}

.Content {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.Card {
    background-color: #282828;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 0 1px #181818;
    height: 220px;
    width: 208px;
    margin-right: 15px;
    padding: 5px;
    /* Ensures the card takes up the full width of the sidebar */
}

.NavLink {
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 400;
    color: #b0b0b0;
    text-decoration: none;
}

.Active {
    font-weight: 600;
    font-size: 15px;
    color: #f38a29;
    text-decoration: none;
}