.Card {
    background-color: #282828;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 0 1px #181818;
    height: 90vh;
}

.NavLink {
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 400;
    color: #b0b0b0;
    text-decoration: none;
}

.NavLink:hover {
    color: #fff;
    text-decoration: none;
}

.Active {
    font-weight: 600;
    font-size: 15px;
    color: #f38a29;
    text-decoration: none;
}