.SideBar {
    max-width: 265px;
}

.Content {
    width: 100%;
    padding-top: 18px;
    margin: 0;
}

.Card {
    background-color: #282828;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 0 1px #181818;
    height: 120px;
}

.NavLink {
    margin-right: 16px;
    font-size: 15px;
    font-weight: 400;
    color: #B0B0B0;
    text-decoration: none;
}

.Active {
    font-weight: 600;
    font-size: 15px;
    color: #F38A29;
    text-decoration: none;
}