.TopBar {
    height: 18px;
}

.NavLink {
    margin-right: 16px;
    font-size: 15px;
    font-weight: 400;
    color: #b0b0b0;
    text-decoration: none;
    line-height: 18px;
}

.NavLink:hover {
    text-decoration: none;
    color: #f38a29;
}

.Active {
    font-weight: 600;
    font-size: 15px;
    color: #f38a29;
    text-decoration: none;
    line-height: 18px;
}

.SortBy {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 18px;
}