.NavLink {
    margin-right: 16px;
    font-size: 15px;
    font-weight: 400;
    color: #B0B0B0;
}

.SortBy {
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
}

.Active {
    font-weight: 600;
    font-size: 15px;
    color: #F38A29;
}